.f-right {
    float: right;
}

.f-left {
    float: left;
}

.f-none {
    float: none;
}

.ta-right {
    text-align: right;
}

.ta-left {
    text-align: left;
}

.ta-center {
    text-align: center;
}

.abs-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.abs-v-center {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.abs-h-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

@mixin translate($x, $y) {
    transform: translate($x, $y);
}
@mixin translateX($x) {
    transform: translate($x, 0);
}
@mixin translateY($y) {
    transform: translate(0, $y);
}

.p-relative {
    position: relative;
}

.p-absolute {
    position: absolute;
}

.p-static {
    position: static;
}

.d-inline {
    display: inline!important;
}

.d-inline-block {
    display: inline-block!important;
}

.d-block {
    display: block!important;
}

.d-none {
    display: none!important;
}

.m-auto {
    margin: auto;
}
